<html>
  <head>
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <div class="parent">
      <div class="leftSide">
        <div class="userinfo sign-out"></div>
        <div class="newFolder"></div>
        <div class="allFolders">
          <% if (folders && folders.length > 0) { %> <% folders.slice(0,
          10).forEach(folder => { %>
          <div class="<%folder.name%>" data-folder-id="<%= folder.id %>">
            <%= folder.name %>
          </div>
          <% }) %> <% } %>
        </div>
        <div class="viewAll">view all folders</div>
        <div class="trash">
          <img class="trash icon" />
          <a href="/trash">trash</a>
        </div>
      </div>

      <div class="rightSide">
        <div class="folderName"></div>
        <div class="filesIn SelectedFolderGrid">
          <div>
            <label hidden for="searchBar"></label
            ><input class="searchBar" name="searchBar" placeholder="search" />
          </div>
          <div class="fileHolder"></div>
        </div>
      </div>
    </div>
  </body>
  <script>
    const search = document.querySelector("searchBar");
    search.addEventListener("input", (e) => {
      e.preventDefault();
    });
  </script>
</html>
