<html>
  <head>
    <link rel="stylesheet" href="../login-signup.css" />
  </head>
  <body>
    <div class="mainDiv">
      <div class="container">
        <h1>welcome back</h1>
        <form class="loginForm" action="/" method="POST">
          <label hidden for="email"></label>
          <% if (emailErr) { %>
          <p><%=emailErr%></p>
          <% } %>
          <input name="email" placeholder="Email" />
          <% if (passwordErr) { %>
          <p><%=passwordErr%></p>
          <% } %>
          <label hidden for="password"></label>
          <input name="password" />
        </form>
        <div>
          <div>don't have an account?</div>
          <a href="/sign-up">register</a>
        </div>
      </div>
    </div>
  </body>
</html>
