<html>
  <head>
    <link rel="stylesheet" href="../login-signup.css" />
  </head>
  <body>
    <div class="mainDiv">
      <div class="container">
        <h1>sign up</h1>

        <form class="signupForm" action="/sign-up" method="POST">
          <% if (errors && errors.length > 0) { %>
          <div class="error-list">
            <% errors.forEach(err => { %>
            <p><%= err.msg %></p>
            <% }) %>
          <div>
          <% } %>
          <div>
            <% if (usernameTaken) { %>
            <p><%= usernameTaken %></p>
            <% } %>
          </div>
          <div>
            <label for="name" hidden></label>
            <input name="name" type="text" placeholder="Name" />
            <label for="username" hidden></label>
            <input name="username" type="text" placeholder="Username" />
          </div>

          <div class="emailInput">
            <label for="email" hidden></label>
            <% if (emailInUse) { %>
            <p><%=emailInUse%></p>
            <% } %>
            <input
              class="emailInput"
              name="email"
              type="email"
              placeholder="Email"
            />
          </div>

          <div>
            <% if (passwordMisMatch) { %>
            <p><%= passwordMisMatch %></p>
            <% } %>
            <label for="password" hidden></label>
            <input name="password" type="password" placeholder="Password" />
            <label for="confirmPass" hidden></label>
            <input
              name="confirmPass"
              type="password"
              placeholder="Confirm Password"
            />
          </div>

          <div>
            <button>sign up</button>
          </div>
        </form>

        <div class="login">
          <div>already have an account?</div>
          <a href="/">login</a>
        </div>
      </div>
    </div>
  </body>
</html>
