* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* flex + grid */

.parent,
.parent > div,
.leftSide > div,
.allFolders,
.rightSide > div,
.editDelFolder,
.filesTrash,
.foldersTrash,
.inTrash,
.resDelTrash {
  display: flex;
}

.parent > div,
.newFolder,
.allFolders,
.filesIn,
.filesTrash,
.foldersTrash {
  flex-direction: column;
}

.newFolderToggle,
.newFolder {
  justify-content: center;
  align-items: center;
}

.userinfo,
.folderName,
.inTrash {
  justify-content: space-between;
}

.rightSide > .folderGrid {
  display: grid;
  grid-template-columns: repeat(5, 250px);
}

.parent {
  height: 100vh;
  width: 100vw;
}

.hidden {
  display: none;
}

/*  */

.leftSide,
.rightSide {
  padding-top: 40px;
  padding-bottom: 40px;
}

.leftSide {
  width: 15%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  gap: 40px;
  background-color: rgb(248, 250, 255);
}

.rightSide {
  height: 100%;
  width: 85%;
  border: 1px solid plum;
  padding-left: 30px;
  padding-right: 30px;
}

/* left side */

.newFolder {
  height: 70px;
  width: 100%;
  gap: 10px;
}

.newFolderToggle {
  display: flex;
  height: 80%;
  width: 50%;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

.allFolders {
  gap: 12px;
}

.sideFolder {
  height: 30px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.sideFolder:hover {
  background-color: rgb(226, 226, 255);
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

/* right side */

.title {
  font-size: 4rem;
  font-style: italic;
  border-bottom: 1px solid rgb(168, 168, 168);
}

.folderName {
  border-bottom: 1px solid rgb(168, 168, 168);
}

.folderName .title {
  border-bottom: none;
}

.editDelFolder {
  gap: 40px;
}

.filesIn {
  height: 100%;
}

.splitTrash {
  padding-top: 30px;
  height: 100%;
  width: 100%;
  gap: 13px;
}

.filesTrash,
.foldersTrash {
  width: 50%;
  gap: 20px;
}

.filesTrash > div:first-child,
.foldersTrash > div:first-child {
  text-align: center;
  border-bottom: 1px dotted gray;
}

.resDelTrash {
  gap: 50px;
}
