* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* flex + grid */

.parent,
.parent > div,
.leftSide > div,
.allFolders {
  display: flex;
}

.parent > div,
.newFolder,
.allFolders {
  flex-direction: column;
}

.newFolderToggle,
.newFolder {
  justify-content: center;
  align-items: center;
}

.userinfo {
  justify-content: space-between;
}

.parent {
  height: 100vh;
  width: 100vw;
}

.hidden {
  display: none;
}

/*  */

.leftSide,
.rightSide {
  padding-top: 40px;
  padding-bottom: 40px;
}

.leftSide {
  width: 15%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  gap: 40px;
  background-color: rgb(248, 250, 255);
}

.rightSide {
  width: 85%;
  border: 1px solid plum;
  padding-left: 30px;
}

/* left side */

.newFolder {
  height: 70px;
  width: 100%;
  gap: 10px;
}

.newFolderToggle {
  display: flex;
  height: 80%;
  width: 50%;
  border-radius: 5px;
  background-color: rgb(154, 154, 133);
  cursor: pointer;
}

.allFolders {
  gap: 12px;
}

.sideFolder {
  height: 30px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.sideFolder:hover {
  background-color: rgb(226, 226, 255);
}

a,
a:visited {
  color: black;
}

/* right side */

.title {
  border-bottom: 1px solid gray;
  font-size: 4rem;
  font-style: italic;
}
