* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* flex + grid */

.parent,
.parent > div,
.leftSide > div,
.allFolders,
.rightSide > div,
.editDelFolder,
.filesTrash,
.foldersTrash,
.inTrash,
.resDelTrash,
.filesIn,
.optionsHolder,
.folderCard,
.folderCard > div {
  display: flex;
}

.parent > div,
.newFolder,
.allFolders,
.filesIn,
.filesTrash,
.foldersTrash,
.folderCard {
  flex-direction: column;
}

.newFolderToggle,
.newFolder {
  justify-content: center;
  align-items: center;
}

.userinfo,
.folderName,
.inTrash {
  justify-content: space-between;
}

.rightSide > .folderGrid,
.fileHolder {
  display: grid;
  grid-template-columns: repeat(5, 250px);
}

.parent {
  height: 100vh;
  width: 100vw;
}

.fileHolder,
.file {
  width: 100%;
}

.fileHolder {
  height: 200px;
  gap: 20px;
  margin-top: 20px;
}

.hidden {
  display: none;
}

/*  */

.leftSide,
.rightSide {
  padding-top: 40px;
  padding-bottom: 40px;
}

.leftSide {
  width: 15%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  gap: 40px;
  background-color: rgb(248, 250, 255);
}

.rightSide {
  height: 100%;
  width: 85%;
  border: 1px solid plum;
  padding-left: 30px;
  padding-right: 30px;
}

/* left side */

.newFolder {
  height: 70px;
  width: 100%;
  gap: 10px;
}

.newFolderToggle {
  display: flex;
  height: 80%;
  width: 50%;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

.allFolders {
  gap: 12px;
}

.sideFolder {
  height: 30px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.sideFolder:hover {
  background-color: rgb(226, 226, 255);
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

/* right side */

.title {
  font-size: 4rem;
  font-style: italic;
  border-bottom: 1px solid rgb(168, 168, 168);
}

.folderName {
  border-bottom: 1px solid rgb(168, 168, 168);
}

.folderName .title {
  border-bottom: none;
}

.editDelFolder {
  gap: 40px;
}

.filesIn {
  height: 100%;
}

.splitTrash {
  padding-top: 30px;
  height: 100%;
  width: 100%;
  gap: 13px;
}

.filesTrash,
.foldersTrash {
  width: 50%;
  gap: 20px;
}

.filesTrash > div:first-child,
.foldersTrash > div:first-child {
  text-align: center;
  border-bottom: 1px dotted gray;
}

.resDelTrash {
  gap: 50px;
}

.fileInFolderPreview {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.file {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid gray;
  cursor: pointer;
}

.newFile {
  font-size: 1.5rem;
  cursor: pointer;
}

.optionsHolder {
  width: 100%;
  gap: 30px;
  font-size: 2rem;
}

.optionsHolder > div {
  cursor: pointer;
}

.optionsHolder > div:hover {
  background-color: rgb(188, 188, 188);
  border-radius: 5px;
}

.folderGrid {
  height: 200px;
  max-height: 200px;
  gap: 20px;
  margin-top: 30px;
}

.folderCard {
  border: 1px solid gray;
  border-radius: 5px;
  min-height: 100%;
  height: 100%;
}

.folderCard > div {
  justify-content: space-between;
  border-top: 1px solid gray;
  height: 20%;
  align-items: center;
  padding-left: 3px;
  padding-right: 3px;
}

.linkToFolder {
  height: 80%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
