* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* flex + grid */

.parent,
.parent > div,
.userinfo {
  display: flex;
}

.parent > div {
  flex-direction: column;
}

.parent {
  height: 100vh;
  width: 100vw;
  padding-top: 40px;
  padding-bottom: 40px;
}

.hidden {
  display: none;
}

/*  */

.leftSide {
  width: 30%;
  padding-left: 20px;
  padding-right: 20px;
  gap: 40px;
}

.userinfo {
  justify-content: space-between;
}

/*  */
a,
a:visited {
  color: black;
}
